%h1
 = @posts.title 
%small
 = @posts.created_at.strftime("%b %d, %Y")
%small
 = @posts.created_at.strftime("%T")
%p
 = @posts.body
= link_to "Edit Post", edit_post_path   
= link_to "Delete",@posts, data: { confirm: "Are you Sure you Want to Delete ?"}, :method => :delete