%h1
 = @posts.title 
%small
 = @posts.created_at.strftime("%b %d, %Y")
%small
 = @posts.created_at.strftime("%T")
%p
 = @posts.body
%h4 
Category : 
= link_to @posts.category.name, category_path( :id => @posts.category.id)
%p
 = link_to "Back",posts_path